.App {
  width: 1fr;
  height: 100vh;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
}

button.addBoard {
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  margin-top: 2px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 10px;
}

button.delete
{
  background: #d12929;
}

form.addBoard {
  background: #ebecf0;
  padding: 10px;
  border-radius: 3px;
  max-width: 200px;
  margin-left: 40%;
  margin-top: 19%;
  position: absolute;
}

form.addBoard input {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  width: 150px;
  padding: 8px 12px;
  border-radius: 3px;
  border: none;
  outline: none;
}
form.addBoard button {
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  height: 32px;
  margin-top: 2px;
  min-height: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 3px;
}

.modalBackdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.62);
}

.banner {
  max-width: 200px;
  margin: 0px 10px;
}

.banner svg {
  margin-right: 5px;
}
.boardNames {
  display: flex;
  margin: 0px 40px;
}

.boardNames .boardName {
  cursor: pointer;
  margin-left: 15px;
  color: rgb(180 174 174);
}

.boardNames .boardName.active {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.collection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
  width: 272px;
  margin-right: 30px;
}

.collection-wrapper {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  padding: 10px;
}

.collections-menu {
  width: 200px;
  background: darkgray;
}

.content {
  width: 100%;
  overflow-x: scroll;
}

.board {
  padding: 50px 50px;
}

.collection .header {
  display: flex;
  min-height: 20px;
  font-size: 20px;
  /* padding: 10px 8px; */
  position: relative;
  margin-bottom: 5px;
  align-items: baseline;
}

.collection .header h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0px 5px;
}
.header textarea {
  background: #0000;
  color: #fff;
  border-radius: 3px;
  font-size: 24px;
  box-shadow: none;
  font-weight: 400;
  height: 30px;
  margin: -4px 0;
  max-height: 256px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  border: none;
}
.header textarea:focus {
  background-color: none;
  /* box-shadow: inset 0 0 0 2px #0079bf; */
  outline: none;
}

.collection .header .ellipsis {
  margin-left: auto;
  margin-right: 8px;
}

.list {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 3px;
}

.list-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 6px 8px;
}

.list-card button {
  border: none;
  border-radius: 50%;
  font-size: 15px;
  color: #333;
  transition: 0.5s ease-in-out;
}
.list-card button:hover {
  color: red;
  font-size: 20px;
}
.addItem {
  padding: 10px;
  border-radius: 4px;
}

.addItem:hover {
  background: #d1d3d8;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #091e4214;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7afbc;
  border-radius: 20px;
  background-clip: content-box;
}

/* navbar*/
.navbar {
  color: white;
  display: flex;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.45);
  padding: 6px 4px;
}

.addCategory {
  padding: 15px;
  border-radius: 3px;
  background-color: #00000014;
}

.addCategory:hover {
  background-color: #00000029;
}

.addList {
  background: #ebecf0;
  padding: 10px;
  border-radius: 3px;
}

.addList input {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  width: -webkit-fill-available;
  padding: 8px 12px;
  border-radius: 3px;
  border: none;
  outline: none;
}
.addList button {
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  height: 32px;
  margin-top: 2px;
  min-height: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 3px;
}

span svg {
  transform: translate(5px, 7px);
}

.placeholder svg {
  transform: translate(0px, 0px);
}
.addList button:hover {
  background: #026aa7;
}

.dragging {
  transform: rotate(358deg);
  background: #00000014;
  color: #fff;
  transition: 0.2s ease-in;
}
